:root {
    --hangar-primary-color: #4B2CAE;
    --hangar-secondary-color: #FFF;

    /* State */
    --hangar-disabled-primary-color: #AFAFBF;
    --hangar-hover-primary-color: #8672C9;
    --hangar-pressed-primary-color: #351F7C;

    /* Bold state primary color */
    --hangar-bold-primary-color: #351F7C;

    /* Font colors*/
    --hangar-font-color-primary: #000;
    --hangar-font-color-secondary: #FFF;
}
