:root {

    /* Border */
    --hangar-radius-sm: 4px;
    --hangar-radius-md: 8px;
    --hangar-radius-lg: 12px;
    --hangar-radius-xxlg: 45px;
    --hangar-border-size-sm: 1px;
    --hangar-border-size-md: 2px;

}
